table
{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px;
    background-color: #2f3640;
    border-spacing: 0;
}
td
{
    border-top: 1px solid white;
    padding: 4px 0;
}
th, h3
{
    font-size: 32px;
}
.explicacao p
{
    font-size: 24px;
    margin-top: 12px;
}